body {
  margin: 0;
}

html {
  font-size: 12pt;
}

@media screen and (min-width: 767px) {
  html {
    font-size: 15pt;
  }
}

h2 {
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: 400;
  margin: 0 0 20px;
}

h4 {
  font-size: 1.3rem;
  line-height: 1.3rem;
  font-weight: 400;
  margin: 0 0 10px;
}

h5 {
  font-size: 1.1rem;
  line-height: 1.1rem;
  font-weight: 400;
  margin: 0 0 10px;
}
